/* Шапка сайта */
header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f4b6c2;
}

.wrapper {
    width: 555px;
    margin: 20px auto;
    background: #f0f0f0;
    padding: 20px 10px 20px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.front {
    max-width: 150px;
    max-height: 120px;
    transition: all .5s;
}

.item {
    background: #f0f0f0;
    width: 170px;
    height: 150px;
    float: left;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    margin: 0 15px 15px 0;

}

.item > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);

}

.front:hover {
    box-shadow: 0 0 10px #3636c4;

}